@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



:root {
  --font-heading : "Bona Nova", serif;
  --font-body : "Asap", sans-serif;

  --color-bg: #182637;
  --color-text : #FFFFFF;
  --color-blue-lighter: #3E5F8A;
}

a {
  text-decoration: none;
  color: var(--color-text);
}


h1 {
  font-size: 3.5rem;
  font-family: var(--font-heading);
  color: var(--color-text);
  line-height: 120%;
  font-weight: 400;
}

h2 {
  font-size: 3rem;
  font-family: var(--font-heading);
  color: var(--color-text);
  line-height: 120%;
  font-weight: 400;
}

h3 {
  font-size: 2.5rem;
  font-family: var(--font-heading);
  color: var(--color-text);
  line-height: 120%;
  font-weight: 400;
}

h4 {
  font-size: 2rem;
  font-family: var(--font-heading);
  color: var(--color-text);
  line-height: 120%;
  font-weight: 400;
}

h5 {
  font-size: 1.5rem;
  font-family: var(--font-heading);
  color: #030305;
  line-height: 120%;
  font-weight: 400;
}


.regular {
  font-size: 1rem;
  font-family: var(--font-body);
  color: var(--color-text);
  font-weight: 200;
  line-height: 150%;
}

.medium {
  font-size: 1.125rem;
  font-family: var(--font-body);
  color: var(--color-text);
  font-weight: 200;
}

.tagline {
  font-size: 1rem;
  font-family: var(--font-body);
  color: var(--color-text);
  font-weight: 600;
}

.btn {
  padding: 8px 20px;
  border-radius: 100px;
  font-family: var(--font-body);
}
.text-bl {
  color: #030305;
}

/* Navbar */

nav {
  background-color: var(--color-bg);
  padding: 1rem 4rem;
  font-family: var(--font-body);
  position: fixed;
  width: 100%;
}

.navbar-container  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-menu li {
  padding: 0 2rem;
  list-style-type: none;
}

.navbar-menu li a {
  position: relative;
  padding-bottom: 0.25rem ;
}

/* Navbar Links Animation */

.navbar-menu li a::before {
  content: '';
  position: absolute;
  bottom: 0;
  /* left: 0; */
  right: 0;
  width: 0;
  height: 2px;
  background-color: #3E5F8A;
  transition: width .25s ease-out;

}

.navbar-menu li a:hover::before {
  width: 100%;
  left: 0;
  right: auto;
} 

/* Navbar Button */

.navbar-btn {
  background-color: var(--color-blue-lighter);
  color: var(--color-text);
  transition: .2s ease-in;
  border: 1px solid var(--color-blue-lighter);
}

.navbar-btn:hover {
  border: 1px solid #FFFFFF;
  background-color: transparent;
  color: var(--color-text);
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: #FFFFFF;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px,6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px,-8px);
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--color-bg);
  flex-direction: column;

}


.mobile-menu li {
  list-style-type: none;
  padding: 1rem 0;
  width: 100%;
  text-align: center;
}

.mobile-menu li a {
  color: var(--color-text);
  font-size: 1.2rem;
  display: block;
  padding: 0.5rem;
}

.mobile-menu li a:hover {
  background-color: var(--color-blue-lighter);
}

@media (max-width: 930px) {
  .navbar-menu {
    display: none;
  }

  .navbar-logo {
    display: none;
  }

  .navbar-btn {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }

  nav {
    padding: 2rem 0;
  }

  .navbar-container {
    padding-inline: 4rem;
  }
}


/* Hero */


.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/hero_image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 900px;
  padding: 0 4rem;
}


.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.action {
  display: flex;
  gap: 1rem;
}

.read-btn {
  background-color: #FFFFFF;
  color: #030305 ;
  font-family: var(--font-body);
  font-weight: 500;
}

.subscribe-btn {
  background-color: hsla(0, 0%, 100%, 0.10);
  font-family: var(--font-body);
  font-weight: 500;
}

@media (max-width: 435px) {
  h1 {
    font-size: 2.6rem;
  }

  p {
    font-size: 1.2rem;
  }

  .btn {
    font-size: 1.2rem;
  }
}

/* News */

.news {
  background-color: var(--color-bg);
  padding: 7rem 4rem;
}

.news-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.news-text {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 24px;
  max-width: 768px;
}

.news-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 0 1rem;
}


@media (max-width: 768px) {
  .news-cards {
    gap: 2rem;
  }
  
  .column-card {
    width: 100%;
    max-width: 400px;
  }
}

@media (max-width: 375px) {
  .news {
    padding: 4rem 1rem;
  }
  
  .news-cards {
    gap: 1.5rem;
    padding: 0;
  }

  .column-card {
    padding: 0 1rem;
  }
}

.column-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.explore-btn {
  background-color: transparent;
  color: var(--color-text);
  font-weight: 200;
}

/* Trust */
.trust {
  padding: 7rem 4rem;
}

.trust-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap;
}

.trust-container img {
  width: 100%;
  object-fit: contain;
  flex: 1;
}

.trust-text {
  flex: 1;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.trust-text__title {
  gap: 1.125rem;
  display: flex;
  flex-direction: column;
}

.trust-text__content {
  display: flex;
  gap: 8px;
}

.list-item {
  flex: 1;
  margin-top: 8px;
  margin-inline: auto;
}

.trust-read-btn {
  background-color: hsla(0, 0%, 0%, 0.055);
  font-family: var(--font-body);
  font-weight: 500;
  color: #030305;

}

.trust-subscribe-btn {
  color: #030305;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

@media (max-width: 1110px) {
  .trust-container {
    text-align: center;
  }

  .trust-container .action {
    justify-content: center;
    margin-top: 2rem;
  }
}

@media (max-width: 700px) {
  .trust-text__content {
    flex-direction: column;
    gap: 3rem;
  }
  .trust-container img {
    height: 400px;
    max-width: 400px;
  }
}


/* Discover */


.discover {
  padding: 7rem 4rem;
}

.discover-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.discover-container__heading {
  text-align: center;
}

.discover-container__content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3rem;
  margin-top: 5rem;

}

.discover-container__column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}

.discover-column-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

}

.discover-subscribe-btn {
  color: #030305;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2rem ;
}

@media (max-width: 930px) {
  .discover-container__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


}